/*************************************
            REGOLE GENERALI 
 *************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

.box {
    border-radius: 30px;
    padding: 12px;
}

/*************************************
            HEADER
 *************************************/
header {
    height: 75px;
    background-color: #0084fd;
}
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 375px;
        padding: 20px;
    }

    nav ul {
        display: flex;
        gap: 30px;
    }

    li a {
        text-decoration: none;
        color: white;
    }

    li .box {
        color: black;
        background-color: white;
    }

 /*************************************
            MAIN
 *************************************/

/******* Application *******/
.application {
    height: 865px;
    /* debug */
    background-color: bisque;
}

    .container {
        height: 715px;
        margin: 100px 375px;
        /* debug */
        background-color: aquamarine;
    }

    .card {
        width: calc(100% / 3);
        background-color: #b5ddff;
        /* debug */
        border: 2px solid black;
        min-height: 200px;
    }

    .card .big {
        width: calc((100% / 3)*2);
    }

    .application > .container {
        display: flex;

    }








 /*************************************
            FOOTER
 *************************************/