/*************************************
            REGOLE GENERALI 
 *************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

.box {
    border-radius: 30px;
    padding: 12px;
}

.container {
    height: 715px;
    margin: 0 375px;
    /* debug */
    background-color: aquamarine;
}



/*************************************
            HEADER
 *************************************/
header {
    height: 75px;
    background-color: #0084fd;
    margin-bottom: 100px;
}
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 375px;
        padding: 20px;
    }

    nav ul {
        display: flex;
        gap: 30px;
    }

    li a {
        text-decoration: none;
        color: white;
    }

    li .box {
        color: black;
        background-color: white;
    }

 /*************************************
            MAIN
 *************************************/

/******* Application *******/
.application {
    height: 715px;
    /* debug */
    background-color: bisque;
}

    .cards {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        width: calc(93% / 3);
        background-color: #b5ddff;
        border-radius: 35px;
        margin: 10px;
        /* debug */
        min-height: 200px;
    }

    .card.big {
        width: calc( (96% / 3) * 2);
    }

    .application > .container {
        display: flex;

    }


/******* Planning *******/
.planning {
    height: 925px;
    margin: 100px 0;
    background-color: #9792e4;
}

    .planning-container {
        width: 50%;
        height: 925px;
        margin: 0 auto;
        display: flex;
        gap: 50px;       
    }

    .block-left {
        /* debug */
        max-width: 50%;
        height: 925px;
    }

        .img > img {
            width: 90%;
            padding-top: 100px;
        }

        .txt {
            margin-top: 125px;
            color: white;
        }

        .txt > h1 {
            font-size: 30px;
            margin-bottom: 60px;
        }

        .txt > p {
            width: 90%;
            line-height: 32px;
            text-align: start
        }


    .block-right {
        max-width: 50%;
        height: 925px;
    }

        .box-card {
            width: 90%;
            height: 550px;
            margin-top: 280px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white;
            border-radius: 50px;
            text-align: center;
            line-height: 32px;
        }
        
        .box-card > img {
            width: 55%;
            padding: 30px 0;
        }

        .box-card > h3 {
            font-size: 25px;
        }

        .box-card > p {
            width: 75%;
            padding-top: 30px;
            font-style: italic;
        }

        .box-card > span {
            margin-top: 30px;
            background-color: #9792e4;
            border-radius: 50%;
            padding: 5px 15px;
        }


 /******* Testimonials *******/
.testimonials {
    width: 100%;
    height: 1335px;
}

    .testimonials > .container {
        height: 1335px;
        background-color: white;
    }

        .partners-info {
            line-height: 32px;
            text-align: center;
        }

        .partners-info > h1 {
            margin: 50px 0;
            font-size: 40px;
            color: #9792e4;
        }

        .partners-info > p {
            width: 80%;
            margin: 0 10%;
            margin-bottom: 50px;
        }

    .person {
        width: 100%;
        height: 280px;
        margin: 30px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 50px;
        background-color: #9792e4;
    }
    
        .rounded-img {
            display: inline-block; 
            position: relative; 
            width: 200px; 
            height: 200px; 
            overflow: hidden; 
            border-radius: 50%; 
        }

        .rounded-img >img {
            width: auto; 
            height: 100%; 
            margin-left: -50px;
        }

        .person-info {
            width: 70%;
            font-size: 16px;
            color: white;
        }

        .person-info > i {
            font-size: 25px;
        }

        .person-info > h2 {
            margin-top: 30px;
        }

 /******* Benefits *******/
.benefits {
    height: 1200px;
    background-color: #9792e4;
}
    .benefits > .container {
        height: 1120px;
        background-color: #9792e4;
    }

    .grid > h1 {
        font-size: 35px;
        padding: 75px 0;
        color: white;
        text-align: center;
    }

    .grid-box {
        width: calc( 100% / 3);
        height: 450px;
        margin-bottom: 30px;
        border-radius: 30px;
        background-color: white ;
    }

    .grid-cards {
        display: flex;
        gap: 30px;
    }

    .info-grid-cards {
        width: 90%;
        margin: 0 5%;
        padding-top: 45px;
    }

        .info-grid-cards > h1 {
            font-size: 50px;
            color: #9792e4;
            margin-bottom: 15px;
        }

        .info-grid-cards > h3 {
            margin-bottom: 15px;
            color: #9792e4;
        }

        .info-grid-cards > p {
            width: 72%;
            color: grey;
            line-height: 32px;
        }

        .info-grid-cards > .box {
            width: 40%;
            margin: 7%;
            color: white;
            background-color: #9792e4;
            text-align: center;
        }

        .more > a {
            color: white;
            text-decoration: none;
        }

 /******* About us *******/
.about-us {
    height: 680px;
    margin: 100px 0;
}

    .about-us > .container {
        height: 680px;
        background-color: white;
    }

    .about-us-blocks {
        display: flex;
    }
    
        .about-us-left {
            width: 65%;
            height: 580px;
            margin: 50px;
        }

        .about-us-left > h1 {
            font-size: 55px;
            color: #9792e4;
            margin-bottom: 55px;
        }

        .about-us-left > p {
            font-size: 20px;
            margin-bottom: 70px;
            line-height: 32px;
        }

        .about-us-right {
            width: 35%;
            height: 580px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 60px;
            position: relative;
        }

        .about-us-right > h2 {
            width: 70%;
            padding-top: 20px;
            font-size: 28px;
            color: #9792e4;
            line-height: 40px;
        }

        .about-us-rounded {
            display: inline-block; 
            position: relative; 
            width: 200px; 
            height: 200px; 
            overflow: hidden; 
            border-radius: 50%; 
        }

        .about-us-rounded > img {
            width: auto; 
            height: 100%; 
            margin-left: 0px;
        }

        .about-us-right > .box {
            margin-top: 30px;
            margin-right: 70px;
            background-color: #9792e4;
        }

        .box a {
            text-decoration: none;
            color: white;
        }

        #quotes {
            font-size: 70px;
            color: #9792e4;
            position: absolute;
            right: 80px;
            top: 50px;
        }

 /******* get started *******/
.get-started {
    width: 100%;
    height: 623px;
    background-color: #9792e4;
}

    .start {
        text-align: center;
        height: 623px;
    }

    .start > h5 {
        padding-top: 60px;
        padding-bottom: 30px;
    }

    .start > h2 {
        font-size: 40px;
        color: white;
    }

    .start > h1 {
        font-size: 80px;
        color: #fdc15f;
        margin: 60px 0px;
    }

    .start > p {
        color: white;
        margin: 0 38%;
        line-height: 32px;
    }

    .start > .box {
        display: inline-block;
        background-color: white;
        border-radius: 1px solid black;
        padding: 20px 60px;
        margin: 32px 0 ;  
    }

    .start .box > a {
        font-size: 20px;
        color: #9792e4;
    }

    .privacy {
        color: white;
    }

    .privacy i {
        font-size: 5px;
        vertical-align: middle;
    }

    .privacy a {
        color: white;
    }

 /*************************************
            FOOTER
 *************************************/